KERNEL=="card0", SUBSYSTEM=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/wolfgang/.Xauthority", RUN+="/usr/local/bin/autoxrandr", RUN+="nitrogen --restore &"
